{% extends templates/layout.html %}
{% block title %}{{ $title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{ $title }}</h1>
            <div id="manual">
Demo objektového navrhu mikroslužby která dokáže načítat data z různých zdrojů.
                
### Nastavení
Zdroje se nastavují v __/etc/settings.ini__ v sekci __feeds__
- **nazevFeedu[url]** - url zdroje
- **nazevFeedu[type]** - nazev readeru - třída reader/nazevReader

### Čtení dat 
je potřeba zavolat url v nasledujícím formátu
**http://server/nazevFeedu/nazevReaderu**
                
### Poznamka 
Pro produkční prostředi by bylo třeba doplnit cachování.
 
                
            </div>
            <h3>příklady</h3>
            <ul>
                {% foreach($feeds as $feedKey => $feed): %}
                <li>{{ $feedKey }} -
                    {% foreach($resposeTypes as $type): %}
                    <a href="/{{ $feedKey }}/{{ $type }}/" data-type="{{ $type }}">{{ $type }}</a>&nbsp;
                    {% endforeach; %}
                </li>
                {% endforeach; %}
            </ul>
        </div>
    </div>
    <div class="row" id="head">
        <div class="col-6"><h2>Přijatá data</h2></div>
        <div class="col-6"><h2>Lidem čitelná podoba</h2></div>
    </div>
    <div class="row">
        <div id="response" class="col-6">&nbsp;</div>
        <div id="responseHuman" class="col-6">&nbsp;</div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var converter = new showdown.Converter();
        $('#manual').html(converter.makeHtml($('#manual').html()));
        $("a").on("click", function (event) {
            event.preventDefault();
            var responseType = $(this).data("type");
            $.getScript($(this).attr("href"),
                function (response) {
                    $("#response").text(response);
                    console.log(responseType);
                    //console.log("content:" + response);
                    switch (responseType) {
                        case('json'):
                            var objResponse = $.parseJSON(response);                            
                            $("#responseHuman").jsonViewer(objResponse, {collapsed: false, withQuotes: false, withLinks: true});
                            break;
                        case('html'):
                            $("#responseHuman").html(response);
                            break;
                        case('markdown'):
                            var html      = converter.makeHtml(response);
                            $("#responseHuman").html(html);
                            break;
                        default:
                            console.log('Bad responseType: ' + responseType);
                    }
                }
            );
            return false;
        });


    });
</script>
{% endblock %}